
.footer {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}
.footer-content {
    
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
}
.footer-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.footer_icon {
    display: flex;
    justify-content: center;

    
    margin-top: 20px;
    gap: 30px;
  }

.footer-icon img {
    width: 24px;
    margin: 0 5px;
}
.footer-credits {
    font-family: "Public Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: rgb(255, 255, 255);
    margin: 5px 0px;
    opacity: 0.8;
    text-align: center;
    display: inline-flex;
    
}
.footer-privacy a {
    color: #aaa;
    text-decoration: none;
    margin: 0 5px;
}
.jxwHBE {
    background: linear-gradient(90deg, rgb(247, 238, 127) -0.43%, rgb(119, 249, 108) 94.02%);
    display: flex
;
    max-width: 896px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
    margin: auto;
    width: 100%;
}
.bJRaxt {
    font-family:sans-serif;
    color: rgb(16, 16, 16);
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    font-weight: bolder;
}
.cfMqky {
    background: rgb(16, 16, 16);
    color: rgb(254, 244, 112);
    font-family: "Public Sans", sans-serif;
    opacity: 0.95;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    display: flex
;
    padding: 10px 62px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

/* Default footer styles... */

.footer-home-bg {
    background-image: url(lamotwo.svg);
    background-size: 80%;
    background-position: 130px -1248px;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}
