.hero-section {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 50px;
    background: linear-gradient(to bottom right, rgb(177, 243, 35) -0.43%,#111,#111,#111,#111);

  display: flex;
  justify-content:space-around;
  
    

  }
  
  .content-wrapper {

    background-image: url('C:\Users\ACER\Desktop\Portfolio\Portfolio\src\assets\pattern.s');
    background-size:27%;
  background-repeat: repeat;
  background-position: center;
  
  background-blend-mode:soft-light;
   
    width: 50%;
    margin-top: 100px;
    /* margin: 100px auto; */
  }


  .photo_surya{
    
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url('/assets/patter _2.png');
    
    background-repeat: repeat;
    background-size: cover;

  }

  .circle{
    height: 300px;
    width: 300px;
    background-color: #bef842;
    border-radius: 50%;
    background-image: url('/assets/myphoto.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .headings1 {
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    text-align: left;
    max-width: 760px;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 88px;
    margin-left: 40px;
    
   
  }
  .headings2{
    text-align: left;
    margin-left: 40px;
     font-weight: 600;
     font-size:  25px;
      font-family: 'Times New Roman', Times, serif;
  }
  
  .paragraphs {
    font-family: Roboto, sans-serif;
    color: rgb(255, 255, 255);
    max-width: 480px;
   margin-left: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
}
  
  
  .cta-button {
    display: flex;
    background-color: #f1c40f;
    color: #000;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size:medium;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;
    gap:3px;
    width:16rem;
    

  }
  
  .icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
  
  .footer-icons {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    
    margin-top: 40px;
    gap: 15px;
  }

  span{
    color:#bef842;
   
    
    background-clip:padding-box;
  }
  .span2{
    color:#9fec2c
  }
  